h1{
        font-size: 65px;
        font-family: 'Notable', sans-serif;
    }
 p{
    font-family: 'Cinzel Decorative', cursive;
 }

body{
    
    background-color: blue;
    text-align: center;
    background-image: linear-gradient( aqua, yellow , grey )
    
}
div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
dt {
    font-size: 30px;
    font-style: italic;
}
button{
    background-color: whitesmoke;
    color: black;
    border: 2px solid #008CBA;
    font-size: 20px; 
    margin: 4px 2px;
    padding: 16px 30px;
    border-radius: 5%;
}
 
img{
    width: 400px;
    height: auto;
    border-radius: 2%;
    
}

dd{
    font-weight: bold;
    font-size: 16px;
}
/* footer{ 
    border-radius: 4%;
    padding: 20px;
    background-image:  linear-gradient( grey, grey, grey, black );  
    
    
}
*/